{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Application details"
    },
    attributes: {
      id: "application-details-card"
    }
  },
  rows: [
    {
      key: {
      text: "Application type"
    },
      value: {
      text: 'Exempt activity notification'
    }
    },
    {
      key: {
        text: "Status"
      },
        value: {
        html: govukTag({
          text: params.status,
          classes: params.statusTagClass
        })
      }
    } if params.status else undefined,
    {
      key: {
        text: "Reference number"
      },
        value: {
        text: params.applicationReference
      }
    },
    {
      key: {
        text: "Who the exemption is for"
      },
        value: {
        text: params.whoExemptionIsFor
      }
    } if params.whoExemptionIsFor else undefined,
    {
      key: {
        text: "Date submitted"
      },
        value: {
        html: params.dateSubmitted | formatDate('d MMMM yyyy')
      }
    },
    {
      key: {
        text: "Date withdrawn"
      },
        value: {
        html: params.withdrawnAt | formatDate('d MMMM yyyy')
      }
    } if params.withdrawnAt else undefined
  ]
}) }}
