{% extends "layouts/page.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ appBackLink({ backLink: backLink }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="POST">
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

        {% set legendHtml %}
          {% if section %}
            <span class="govuk-caption-l">{{ section.text }}</span>
          {% endif %}
          {{ question.text }}
        {% endset %}

        {% set items = [] %}

        {#  answer.hint and question.hint contain html but are sanitised at load time #}

        {% for answer in question.answers %}
          {% if answer.hint %}
            {% set item = {
              value: answer.id,
              text: answer.text,
              hint: { html: answer.hint },
              checked: answer.id === selectedAnswer
            } %}
          {% else %}
            {% set item = {
              value: answer.id,
              text: answer.text,
              checked: answer.id === selectedAnswer
            } %}
          {% endif %}
          {% set items = (items.push(item), items) %}
        {% endfor %}

        {{ govukRadios({
          name: "answer",
          fieldset: {
            legend: {
              html: legendHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: { html: question.hint } if question.hint,
          errorMessage: errors.answer if errors,
          items: items
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>

    </div>
  </div>
{% endblock %}
