{% extends 'layouts/page.njk' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ heading }}
      </h1>
      <div class="govuk-body" data-testid="app-page-body">
        {{ govukWarningText({
          text: "If you do not set up your Defra account correctly, your exempt activity notification will not be valid. This is because it will not be registered to the person or organisation the exemption is for.",
          iconFallbackText: "Warning"
        }) }}
        <form method="POST">
          <input type="hidden" name="csrfToken" value="{{csrfToken}}" />
          {{ govukRadios({
            idPrefix: 'whoIsExemptionFor',
            name: 'whoIsExemptionFor',
            value: payload.whoIsExemptionFor,
            fieldset: {
              legend: {
                html: 'Who is this exempt activity notification for?',
                classes: "govuk-visually-hidden"
              }
            },
            errorMessage: errorMessage,
            items: [
              {
                value: "individual",
                text: "Myself as an individual - it’s a personal project"
              },
              {
                value: "organisation",
                text: "The organisation I’m an employee of"
              },
              {
                value: "client",
                text: "A client - you’re an agent or intermediary notifying us on behalf of another organisation"
              }
            ]
          }) }}
            {{ govukButton({
              text: "Continue",
              classes: "govuk-button--primary"
            }) }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
