{% extends 'layouts/page.njk' %}
{% from "radio-page/macro.njk" import appRadioPage %}

{% block beforeContent %}
  {{ super() }}
  {% if hasMultipleOrgPickerEntries %}
    {{ appBackLink({backLink: backLink}) }}
  {% endif %}
{% endblock %}

{% set yesOptionText %}Yes, the exempt activity notification is for {{organisationName}}{% endset %}

{% block content %}

   {{ appRadioPage({
    name: "confirmEmployee",
    errorSummary: errorSummary,
    errors: errors,
    heading: heading,
    isPageHeading: true,
    value: payload.confirmEmployee,
    errorMessage: errors.confirmEmployee,
    items: [
        {
          value: "yes",
          text: yesOptionText
        },                  
        {
          value: "organisation",
          text: "No, I'm notifying you for a different organisation"
        },
        {
          value: "personal",
          text: "No, I'm notifying you about a personal project"
        }
      ],
      csrfToken: csrfToken
    })
  }}
{% endblock %}
