{% extends "layouts/multiple-coordinates-template.njk" %}

{% set fieldNames = "eastings,northings" %}
{% set firstCoordinate = "eastings" %}
{% set secondCoordinate = "northings" %}

{% set detailsSummary = "Help with eastings and northings formats" %}

{% set detailsHTML %}
  {% include "partials/coordinate-entry/osgb36-hint-details.njk" %}
{% endset %}

{% set introText %}
  {% include "partials/coordinate-entry/osgb36-intro.njk" %}
{% endset %}
