{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      {% if hasApiError %}
        <p class="govuk-body govuk-!-margin-bottom-6">
          We could not retrieve the latest report values. Showing zero values instead.
        </p>
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Submitted exemptions"
            },
            value: {
              text: summary.submittedExemptions
            }
          },
          {
            key: {
              text: "Unsubmitted exemptions"
            },
            value: {
              text: summary.unsubmittedExemptions
            }
          },
          {
            key: {
              text: "Withdrawn exemptions"
            },
            value: {
              text: summary.withdrawnExemptions
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
