{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [] %}

{% set _ = rows.push({
     key: { text:  "Consent to publish your project information" if params.isApplicantView else "Consent to publish project information" },
     value: { html: "Yes" if params.publicRegister.consent === 'yes' else "No" }
   })
%}

{%  if params.publicRegister.consent === 'no' %}

{% set _ = rows.push({
  key: { text: "Why you do not consent" if params.isApplicantView else "Why the applicant did not consent" },
  value: { html: params.publicRegister.reason }
}) %}

{%  endif  %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Sharing your project information publicly" if params.isApplicantView else "Sharing project information publicly"
    },
      actions: {
        items: [
          {
            href: "/exemption/sharing-your-project-information-publicly?from=check-your-answers",
            text: "Change",
            visuallyHiddenText: " sharing project information publicly",
            classes: "govuk-link--no-visited-state"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "public-register-card"
      }
    },
    rows: rows
  }) }}
