@use 'govuk-frontend' as *;

.govuk-wide-template {
  .govuk-width-container {
    @include govuk-width-container(1200px);
  }
}

.app-filter-form {
  .govuk-radios__label {
    white-space: nowrap;
  }
}
