name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test code and Create Test Coverage Reports
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: |
          npm ci
          npm run build
          npm run format:check
          npm run lint
          npm run test:ci

      - name: Test Docker Image Build
        run: |
          set +e
          docker build --no-cache --tag cdp-node-frontend-template .
          exit $?

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      
  security:
      name: Snyk Security Scan and audit
      runs-on: ubuntu-latest
      if: github.actor != 'dependabot[bot]'
      steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: Setup Node.js
          uses: actions/setup-node@v6
          with:
            node-version-file: '.nvmrc'
            cache: npm

        - name: Install dependencies
          run: npm ci

        - name: Run Snyk test
          uses: snyk/actions/node@master
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

        - name: Security audit
          run: |
              npm ci
              npm audit --audit-level=high || (echo 'Vulnerabilities found!' && exit 1)
                
  test-journey:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker build -t defradigital/marine-licensing-frontend:${{github.sha}} .
      - uses: DEFRA/marine-licensing-journey-tests/run-journey-tests@main
        with:
          marine-licensing-frontend: ${{github.sha}}
          branch: main
