{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "radio-page/macro.njk" import appRadioPage %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}

  {% set helperHtml %}
    <h2 class="govuk-heading-s">For sites without a defined shape</h2>
    <p>If you only know the coordinates at the centre of the site, we'll use those and the width you enter to create a circular area.</p>
    <p>This is useful for activities like taking samples from a boat.</p>
    <p>Make sure the circle covers the full area where the activity will take place, including any expected movement.</p>
    <p>This example shows a 30-metre circular site using a single set of coordinates as the centre point.</p>
    <img src="/public/assets/images/map-circle-example.jpg" alt="Example map showing a circular site marked with a centre point and 30-metre radius" width="100%" class="govuk-!-margin-bottom-6" />

    <h2 class="govuk-heading-s">For sites with a defined shape or boundary</h2>
    <p>If your site has a clear shape or boundary, you can enter multiple coordinates to mark out the area. You'll need to enter the coordinates for each point in order, so they join to form a closed shape.</p>
    <p>This is useful for activities that take place within a specific area, such as building a structure or dredging part of the seabed.</p>
    <p>Make sure the shape includes the full area where the activity will take place, and allow for any movement, if that's relevant.</p>
    <p>This example shows a site marked by 4 sets of coordinates to form a custom shape.</p>
    <img src="/public/assets/images/map-polygon-example.jpg" alt="Example map showing a square site boundary marked with 4 coordinate points" width="100%" />
  {% endset %}

  {% set hintHtml %}
  {{ govukDetails({
      html: helperHtml,
      summaryText: "Help with choosing how to enter coordinates"
  }) }}
  {% endset %}

  {{ appRadioPage({
      name: "coordinatesEntry",
      errorSummary: errorSummary,
      errors: errors,
      heading: "How do you want to enter the site coordinates?",
      isPageHeading: true,
      value: payload.coordinatesEntry,
      errorMessage: errors['coordinatesEntry'],
      projectName: projectName,
      siteNumber: siteNumber,
      hint: { html: hintHtml },
      items: [
        {
          value: "single",
          text: "Enter one set of coordinates and a width to create a circular site",
          hint: {
            text: "Use this if you only have the centre point of the site"
          }
        },
        {
          value: "multiple",
          text: "Enter multiple sets of coordinates to mark the boundary of the site",
          hint: {
            text: "Use this if the site is a custom shape with more than one point"
          }
        }
      ],
      csrfToken: csrfToken,
      cancelLink: cancelLink
    })
  }}

{% endblock %}
